
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .text {
    width: 1922px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 70px;
  }

   .text h1 {


   .text h2 {
    font-size: 20px;
    color: #58a6ff;
  }

  .text p {
    margin: 10px 0;
  }

  .text  p{
    margin: 10px 0;
  }

 .text ul {

    list-style-type: none;
    padding: 0;
  }

  .text ul li {
  ul li {
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
  }

  .text ul li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: #2ea043;
  }


  .text h1 {
    font-size: 24px;
    color: #58a6ff;
    margin-bottom: 20px;
  }
  .text  h2 {
    font-size: 20px;
    color: #58a6ff;
    margin-top: 20px;
  }


  .text p {
    margin: 10px 0;
  }

  .text ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }

  .text ul li {
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
  }

  .text ul li:before {
    content: "•";
    position: absolute;
    left: 0;
    color: #2ea043;
  }

  .numbered {
    margin: 20px 0;
  }

  .numbered h2 {
    font-size: 18px;
    color: #c9d1d9;
    display: flex;
    align-items: center;
  }

  .numbered h2 span {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #58a6ff;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-right: 10px;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{

}
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-toggle {
    background-color: white;
    color: black;
    padding: 5px 20px;
    border: none;
    width: 171px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* .dropdown-toggle:hover {
    background-color: #2770F1;
  } */

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 4px 0;
    width: 171px;
  }

  .dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
  }

  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }

  .dropdown.open .dropdown-menu {
    display: block;
  }
  .block-1{
    width: 767px;
height: 456px;
  }
  .block-1 h1 {
    font-family: Montserrat;
font-size: 58px;
font-weight: 800;
line-height: 64px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  }
  .block-1 span {
    font-family: Montserrat;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .two-btn{
    margin-top: 36px;
    gap: 17px;
display: flex;
  }
  .two-btn button{
font-size: 18px;
font-weight: 600;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
    background-color: #F1F5FF;
padding: 16px;
border-radius: 6px;
color: #2770F1;
  }
.two-btn button:hover{
    background-color: #2770F1;
    color: white;
    border-radius: 6px;
}
.img-1{
  position: absolute;
  bottom: 90px;
  right: 0px;
  z-index: -1;
}
.img-2{
  position: absolute;
  bottom: 210px;
  right: 935px;
  z-index: -1;
}
.img-3{
  position: absolute;
  bottom: 90px;
  right: 935px;
  z-index: -1;
}
.img-4{
  position: absolute;
  right: 696px;
  bottom: 210px;
  z-index: -1;
}
.img-5{
  position: absolute;
  right: 895px;
  bottom: 255px;
  z-index: -2;
}
.section-3{
  width: 100%;
  height: 839px;
 margin: 0 auto;
 background-color: #163063;
 display: flex;
 justify-content: space-around;
 align-items: center;
 position: relative;
 gap: 300px;
 flex-wrap: wrap;
}
.boss-Section3{
  width: 1921px;
  height: 56px;
  margin-left: 126px;
  border-left: 5px solid #2770F1;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.boss-Section4{
  width: 1921px;
  height: 56px;
  margin-left: -164px;
  border-left: 5px solid #2770F1;
  padding-left: 20px;
  margin-top:50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
#blockSection3{
  width: 1115px;
height: 448px;
display: flex;
flex-wrap: wrap;
gap: 30px;
margin-top: -400px;
}
/*  */
.container1 {
  width: 1920px;
height: 747px;
  margin: 0 auto;
  padding: 20px;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 1850px;
  height: 747px;
  margin: 0  auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  height: auto;
  margin: 0 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px;
}
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.description {
  margin-top: 20px;
}

.description h1 {
  font-size: 24px;
  color: #333;
}

.description p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}
.section6{
  backdrop-filter: 20px;
  margin-top: 120px;
}
.section6-item{
  width: 100%;
  height: 546px;
  background-image: url(./img/shutterstock_1703964817\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #162E5E;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*  */

.slider {
  position: relative;
  overflow: hidden;
  width: 1922px;
  height: 100%;
  margin: 50px auto;
  background-color: #162D5F;
  border-radius: 10px;
  padding: 20px;
  cursor: grab;
}

.slider-track {
  margin-top: 68px;
  width: 3002px;
  height: 495px;
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider-item {
  width: 355px;
  height: 495px;
  margin: 0 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
}

.slider-item img {
  width: 100%;
  height: auto;
}

.slider-item h3 {
  margin: 10px 0;
  font-size: 18px;
  color: black;
font-size: 22px;
font-weight: 800;
line-height: 32px;
text-align: left;
margin-left: 10px;

}
.slider-item h3 span {
  margin: 10px 0;
  font-size: 18px;
  color: #1B315F;
font-size: 22px;
font-weight: 400;
line-height: 32px;
text-align: left;
}

.slider-item p {
  font-size: 14px;
  color: #3F578B;
  margin-bottom: 10px;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
margin-left: 10px;
}

.map-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 width: 1922px;
 height: 870px;
 margin: 0 auto;
 position: relative;
}

.map-info {
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: absolute;
  top: 302px;
  left: 128px;
}
.map-info h1 {
  font-size: 24px;
  color: #1B315F;
font-size: 32px;
font-weight: 800;
line-height: 39.01px;

}

.map-info h2 {
  font-size: 18px;
  color: #555;
}

.contact-card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
font-size: 32px;
font-weight: 800;
line-height: 39.01px;

}
.contact-card h4 {
  font-size: 18px;
  color: #1B315F;
  margin-bottom: 10px;
font-size: 32px;
font-weight: 800;
line-height: 39.01px;

}


.contact-card p {
  font-size: 14px;
  margin: 5px 0;
  color: #666;
}

.buttons button {
  background-color:#F1F5FF;
  color: #2770F1;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.buttons button:hover {
  background-color: #274a80;
  color: white;
}

.ratings {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.rating-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.map-container {
  width: 1446px;
  height: 590px;
  margin-left: 400px;
  
}

.map-container iframe {
  border-top-left-radius: 60px;
  width: 100%;
  height: 100%;
  border: none;
}
.section6-push{
  width: 1922px;
  height: 546px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section3-push{
  width: 1922px;
  height: 839px;
 margin: 0 auto;
 background-color: #163063;
 display: flex;
 justify-content: space-around;
 align-items: center;
 position: relative;
 gap: 300px;
 flex-wrap: wrap;
}

